########################################################
# SERVER SIDE configs
########################################################
HOME_DIR=/root/redis
REDIS_PATH=$HOME_DIR/redis-7.2
REDIS_BRANCH=7.2   	# This branch will be installed in case Redis is not already installed in REDIS_PATH
# REDIS_BUILD_FLAGS='REDIS_CFLAGS="-fno-plt" REDIS_LDFLAGS="-fno-plt"'  # if building redis, we can pass build flags
RDB_PATH=$REDIS_PATH
SERVER_SOCKET=0
START_PORT=9000
NUM_SERVERS=36 # Each Redis server contributes about 20GB of memory capacity. Verify with top

LOGIN_ID=root
SERVER_IP="127.0.0.1"  # replace with the IP address of the server. Using a physical interface is prefered to using localhost. 
SERVER_REMOTE=false # The server and memtier client are on different nodes
SSH_KEY_PATH=~/.ssh
SSH_KEY_NAME=id_rsa

SET_IRQ=false  #set to true to pin IRQ affinity
IRQ_INTERFACE="eno1"	# The network interface of the redis server
IRQ_INTERFACE_MEMTIER="eno1" # The network interface of memtier client (if remote from server) 

########################################################
# CLIENT SIDE configs
########################################################
AUTOTUNE=true
ITERATION_NUM=3
MEMTIER_PATH=$HOME_DIR/memtier_benchmark
MEMTIER_BRANCH=2.0.0
MEMTIER_SOCKET=1
RESULTS_FOLDER=memtier_$(date +"%Y%m%d%H%M")
RESULTS_PATH=$HOME_DIR/results/${RESULTS_FOLDER}
NUM_FILL_REQ=2000000
#NUM_FILL_REQ=14000000 # approximately 20GB per instance
DATA_SIZE_LIST="128:10,256:15,512:20,1024:30,2048:15,4092:10"
KEY_PATTERN="R:R" # use G:G Gaussian
RATIO="1:10"
BENCHMARK_DURATION=300
MEMTIER_PIPELINE=64
MEMTIER_CLIENTS=2	# This will be ignored if AUTOTUNE is true
MEMTIER_THREADS=2	# This will be ignored if AUTOTUNE is true

#######################
# Data Collection Tools
#######################

#install pre-reqs
RUN_BENCH_SPEC=false 

#svr_info
RUN_SVR_INFO=false
SVR_INFO_PATH=/opt/svr-info

#sar
RUN_SAR=false
SAR_DURATION=$(($BENCHMARK_DURATION-5))

#perf
RUN_PERF=false

#flame_graph
RUN_FLAMEGRAPH=false
flamegraph_folder=/root/FlameGraph

#emon
RUN_EMON=false
EMON_HOME=/opt/intel/emon  # emon path of the Server and client
EMON_FOLDER=$EMON_HOME/bin64  # emon path of the Server and client
EMON_CONFIG_FILE=$HOME_DIR/redis-scripts/pyedp_config.txt
