
# Redis server configs
REDIS_PATH=/root/redis-7.2.0_jon_prefetch
SERVER_SOCKET=0
START_PORT=9000
HOST="127.0.0.1"
NUM_SERVERS=36 # Each Redis server contributes about 20GB of memory capacity. Verify with top

# Memtier benchmark configs
MEMTIER_PATH=/root/memtier_benchmark
MEMTIER_SOCKET=1
RESULTS_FOLDER=ICX_memtier_result_$(date +"%Y%m%d%H%M")
RESULTS_PATH=/root/results/${RESULTS_FOLDER}
NUM_FILL_REQ=2000000
#NUM_FILL_REQ=14000000 # approximately 20GB per instance
DATA_SIZE_LIST="128:10,256:15,512:20,1024:30,2048:15,4092:10"
KEY_PATTERN="R:R" # use G:G Gaussian
BENCHMARK_DURATION=30

#emon
RUN_EMON=false
EMON_FOLDER=/opt/intel/emon/bin64  # emon path of the Server and client
EMON_CONFIG_FILE=$HOME_DIR/redis-scripts/pyedp_config.txt
EMON_POST_SCRIPT=$HOME_DIR/redis-scripts/postscripts/emon_process.sh
